html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer-group {
  margin-top: 10px;
 
}
.image-body {
    border: 1px solid;
    background-image: url(../images/corrida.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
