@{
    ViewData["Title"] = "Pagina Inicial";
}
  <div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Saiba mais sobre a Qyon <a href="https://qyon.com">Comece a corrida com QyonAdventures</a>.</p> 
</body>

